@model VixDigital.ViewModel.ServicesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Services</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Service Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Services", new { id = item.Id })'">Edit</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Services", new { id = item.Id })'">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Services")'">Add Service</button>

<h1>Latest Services Status</h1>
<table class="table">
    <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ServiceResponse)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

<script>
    
</script>
}
